@media (max-width: 320px) {

    .fundo{
        padding: 0px 20px;
    }
    
    .logo img {
        width: 100px;       
    }

    .inscrevase {
        gap: 15px;
    }

    .inscrevase-liberado {
        gap: 5px;
    }

    .inscrevase-liberado-img {
        width: 15px;
    }
    
    .inscrevase-liberado-title {
        font-size: 9px;
    }
    
    .inscrevase-btn {
        font-size: 9px;
        margin-bottom: 30px;
    }

    .jogo-logo-name p{  
        gap: 15px;
        font-size: 10px;
    }

    .jogo-logo-name img {
        width: 30px;
    }

    .jogo-icone-baixar {
        width: 18px;
    }

    .copyright-canal-img {
        width: 10px;
    }
    
    .copyright-canal-nome {
        font-size: 9px;
    } 

}

/* ----------------------------------------------------------------------------- */


@media (min-width: 321px) and (max-width: 376px) {

    .fundo {
        padding: 0px 20px;
    }
    
    .logo img {
        width: 120px;       
    }

    .inscrevase {
        gap: 15px;
    }

    .inscrevase-liberado {
        gap: 5px;
    }

    .inscrevase-liberado-img {
        width: 20px;
    }
    
    .inscrevase-liberado-title {
        font-size: 11px;
    }
    
    .inscrevase-btn {
        font-size: 10px;
        margin-bottom: 30px;
    }

   



    .jogo-logo-name p{  
        gap: 15px;
        font-size: 13px;
    }

    .jogo-logo-name img {
        width: 35px;
    }

    .jogo-icone-baixar {
        width: 20px;
    }

    .copyright-canal-img {
        width: 13px;
    }
    
    .copyright-canal-nome {
        font-size: 12px;
    }

}

/* ----------------------------------------------------------------------------- */

@media (min-width: 377px) and (max-width: 415px) {

    .fundo {
        padding: 0px 20px;
    }
    
    .logo img {
        width: 120px;       
    }

    .inscrevase {
        gap: 15px;
    }

    .inscrevase-liberado {
        gap: 5px;
    }

    .inscrevase-liberado-img {
        width: 20px;
    }
    
    .inscrevase-liberado-title {
        font-size: 11px;
    }
    
    .inscrevase-btn {
        font-size: 12px;
        margin-bottom: 40px;
    }

    


    .jogo-logo-name p{  
        gap: 15px;
        font-size: 13px;
    }

    .jogo-logo-name img {
        width: 35px;
    }

    .jogo-icone-baixar {
        width: 20px;
    }

    .copyright-canal-img {
        width: 13px;
    }
    
    .copyright-canal-nome {
        font-size: 12px;
    }

}